.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    font-family: monospace;
    font-size: 25px;
}

.flex-container {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

.flex-child {
    flex: 1;
}

.beginClearButtons {
    position: absolute;
    width: 100px;
    top: 175px;
    font-size: 15px;
}
